$body-bg: rgb(255, 255, 255);
$body-color: rgb(255, 255, 255);
$font-family-base: 'Montserrat', sans-serif;


@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');